{# @var user #}
{# WARNING: Some markup is duplicated in other repositories: https://confluence.tacc.utexas.edu/x/LoCnCQ #}
<!-- FAQ: This template loads independently at a unique url (see `urls.py`)
          so CMS and User Guide can render this markup into their markup. -->

{# GH-101: Remove style tag i.e. rely only on `site.header.css` #}
<style type="text/css">
  .s-portal-nav .icon {
    margin-right: 0.25em;

    /* Copied from FontAwesome `.fa-lg` */
    font-size: 1.3em;
    vertical-align: text-bottom; /* tweaked to align better */
  }
  .s-portal-nav .nav-link .icon {
    font-size: 1.5em;
    vertical-align: middle; /* tweaked to align better */
  }
</style>
{% if user.is_authenticated %}
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="icon icon-user"></i>
    <span>{{ user.get_username }}</span>
    <span class="sr-only">Toggle Dropdown</span>
  </a>
  <nav class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="/portal">
      <i class="icon icon-dashboard"></i> My Dashboard
    </a>
    <a class="dropdown-item" href="/portal/account">
      <i class="icon icon-user"></i> Manage Account
    </a>
    {% if show_impersonation %}
    <a class="dropdown-item" href="/portal/impersonation">
      <i class="icon icon-user"></i> Impersonate User
    </a>
    {% endif %}
    <a class="dropdown-item" href="/portal/logout">
      <i class="icon icon-exit"></i> Log Out
    </a>
  </nav>
</li>
{% else %}
<li class="nav-item">
  <a class="nav-link" href="/portal/login">
    <i class="icon icon-user"></i> Log in
  </a>
</li>
{% endif %}
