/*
Link

Hyperlinks that look different than standard hyperlinks.

Markup:
<a href="#" class="c-link--undecorated">Some text</a>
*/

.c-link--undecorated:not(:focus) {
  text-decoration-line: none;
}
.c-link--undecorated:hover:not(:focus) {
  text-decoration-line: underline;
}
