# Add files here to ignore them from prettier formatting

/dist
/coverage
apps/tup-cms/**/templates/**/*

# do not format stylesheets until `nx format` ignores multiple blank lines
# https://prettier.io/docs/en/rationale.html#empty-lines
*.css
