@import url('@tacc/core-styles/dist/settings/border.css');
@import url('@tacc/core-styles/dist/settings/space.css');
@import url('@tacc/core-styles/dist/settings/font.css');

@import url('@tacc/core-styles/dist/elements/form.cms.css');



/* CONTAINER */

.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}
.root a {
  font-weight: var(--medium);
}



/* TITLE */

.title {
  text-align: center;
}

.logo {
  display: block; /* to collapse margins with heading */
  margin-inline: auto; /* to re-center image */
  height: 75px;
  margin-bottom: 45px;
}

.subtitle {
  color: var(--global-color-primary--xx-dark);
  font-weight: var(--medium); /* mimics value--not appearance--from design */
  margin-block: 25px; /* mimics core-cms django.cms.forms.css .description */
}



/* FORM */

.form {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--global-color-primary--x-dark);
  margin-bottom: 2rem;
}

.form-field input {
  padding: 12px 12px 12px 12px; /* overwrites core-styles form.cms.css */
}

/* mimics core-cms django.cms.forms.css .help-text */
.form-field__help {
  font-size: var(--global-font-size--small);
  font-style: italic;
  margin-top: 0.3em;
}


.submit {
  font-size: var(--global-font-size--medium); /* mimics core-cms c-button.css */
  padding-top: 12px;
  padding-bottom: 12px;
}

.submit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 15px;
}



/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}
.footer > p {
  margin-block: 0; /* overwrite browser */
}


/* ERRORS */

/* mimics core-cms django.cms.forms.css .field-errors */
.error {
  font-size: var(--global-font-size--small);

  margin-top: 1rem;
  margin-bottom: 0;
}
