{# This template overwrites the original from TACC/Core-CMS #}
{# NOTE: This should extend taccsite_cms via taccsite_custom, not overwrite #}
{# FAQ: To extend, via app template inheritance, see TACC/Core-CMS#492 #}



{# COPIED FROM CORE #}
{# https://github.com/TACC/Core-CMS/blob/v4.8.3/taccsite_cms/templates/assets_custom.html #}

{% load static %}

<!-- Custom Site Assets: Favicon. -->
{% with settings.PORTAL_FAVICON as favicon %}
<link rel="icon" href="{% if favicon.is_remote %}{{ favicon.img_file_src }}{% else %}{% static favicon.img_file_src %}{% endif %}" type="image/x-icon" />
{% endwith %}



{# NEW CODE #}

<!-- TUP CMS UX Scripts -->
<script src="{% static 'tup_cms/js/modules/breadcrumbs.js' %}" type="module"></script>

<!-- TUP CMS UI Styles -->
<link rel="stylesheet" href="{% static 'tup_cms/css/tup-cms.for-core-styles.css' %}" />
<link rel="stylesheet" href="{% static 'tup_cms/css/tup-cms.for-core-cms.css' %}" />
<link rel="stylesheet" href="{% static 'tup_cms/css/tup-cms.for-tup-cms.css' %}" />
