/* Mimic Core-Styles settings/font--docs.css */
/* FAQ: Design wants to increase base font from 12px to 14px */
/* FAQ: This change ALMOST gives clients consistent font size variables */
/* NOTE:
        - tup-ui <body> uses `--global-font-size--small` (is now 1.4rem)
        - tup-cms <body> uses `--global-font-size--medium` (has been 1.4rem)
        - tacc-docs <body> uses `--global-font-size--medium` (has been 1.6rem)
*/
:root {
  --global-font-size--x-small: 1.2rem;
  --global-font-size--small: 1.4rem;
  --global-font-size--medium: 1.6rem;
  --global-font-size--large: 1.8rem;
  --global-font-size--x-large: 2.1rem;
  --global-font-size--xx-large: 2.8rem;
  --global-font-size--xxx-large: 3.2rem;
}
