/* Tag */
/* TODO: Create a .c-tag */

:is(.c-tag, .tag) {
  /* Client must set display (inline-)block|flex|grid|etc. */
  /* FAQ: We should not assume the display of an element client controls */
  /* display: inline-block; */

  line-height: 1; /* so padding-block can be consistent */
  padding: 0.5rem;
  width: min-content;

  font-size: var(--global-font-size--small);
  font-weight: var(--bold);
  text-transform: uppercase;
  white-space: nowrap;
}
