{# Cloned by sortableTable.js when a table has data-sortable-filters. #}
{# Include once per page (e.g. assets_core_delayed.html or research-projects snippet). #}

<template id="sortable-table-filters">
  <fieldset class="js-sortable-filter-list sortable-filter-list">
    <legend class="sr-only">Results in the table update as you type or select filters</legend>

    <label class="sortable-filter mr-auto">
      <input
        type="search"
        class="sortable-filter__input"
        placeholder="Search…"
      />
      <output class="js-sortable-total text-truncate" aria-atomic="true"></output>
    </label>

    <label class="sortable-filter">
      <span class="sortable-filter__label"></span>
      <select class="sortable-filter__input">
        <option value="">any</option>
      </select>
    </label>
  </fieldset>
</template>
