a[data-user][data-domain] {
    font-size: 0;
    visibility: hidden;
}

a[data-user][data-domain]:before {
content: attr(data-user) "@" attr(data-domain);
display: inline;
font-size: medium;
visibility: visible;
}

/* TODO: Consider a new, different inheritence trick */
/* TODO: Consider for Core-CMS, not Core-Styles */
/* WARNING: Do not move to Core-Styles, because client font size is uncertain */
a[data-user][data-domain]::before {
    /* To hard-code font-size, because inheritance trick failed */
    font-size: var(--global-font-size--medium);
}
