.project-section {
    display: grid;
}

.project-section > div > header {
    padding-top: var(--global-space--section-top);
    padding-left: var(--global-space--section-left);
}

.project-section nav {
    margin-top: calc( -1 * var(--global-space--section-top));
}

.project-section > div > div {
    padding: var(--global-space--section);
}
