<div class="row">
	<div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
		<h1>{{display_name}}</h1>

		<h2>
      {{instance.department | safe}}
      {% if instance.title %}
      <br /><small>{{ instance.title }}</small>
      {% endif %}
    </h2>

		<p>
		{% if instance.phone %}
      Phone: <strong><a href="tel:{{instance.phone}}" target="_blank">{{instance.phone}}</a></strong>
    {% endif %}
		{% if instance.phone and instance.email %}
      |
    {% endif %}
		{% if instance.email %}
			Email: <strong><a href="mailto:{{instance.email}}" target="_blank">{{instance.email}}</a></strong>
    {% endif %}
		</p>

		{{instance.description | safe}}

    {% include "./includes/block_main.html" with title="Professional Experience" content=instance.experience only %}
    {% include "./includes/block_main.html" with title="Selected Publications" content=instance.publications only %}
    {% include "./includes/block_main.html" with title="Current Projects" content=instance.projects only %}
    {% include "./includes/block_main.html" with title="Areas of Research" content=instance.research_areas only %}
    {% include "./includes/block_main.html" with title="Memberships" content=instance.memberships only %}
	</div>

	<div class="col col-12 col-sm-12 col-md-6 col-lg-4 offset-lg-1 col-xl-4 offset-xl-1">
    {% include "./includes/photo.html" with instance=instance only %}

    {% include "./includes/block_side.html" with title="Education" content=instance.education only %}
	</div>
</div>
