{# https://github.com/TACC/Core-CMS/blob/5a6e0d2/taccsite_cms/templates/djangocms_video/default/video_player_base.html #}
{% load i18n cms_tags %}

{# TACC: responsive wrapper #}
{% block video_wrap_start %}
{% if instance.template != 'default' %}
{% with embed_ratio=instance.template|slice:'10:' %}
<div class="embed-responsive{% if embed_ratio != 'auto' %} embed-responsive-{{ embed_ratio }}{% endif %}">
{% endwith %}
{% endif %}
{# /TACC #}
{% endblock video_wrap_start %}

{% if instance.embed_link %}
    {# show iframe if embed_link is provided #}
    <iframe src="{{ instance.embed_link_with_parameters }}" {{ instance.attributes_str }} frameborder="0" allowfullscreen="true"
      {# TACC/tup-ui: custom title or default title if none provided #}
      {% if "title" not in instance.attributes_str %}
        {% if "supersized-science" in instance.embed_link_with_parameters %} title='"Supersized Science" Podcast Episode for this Article'
        {% else %}
        title="media related to this content"
        {% endif %}
      {% endif %}
      {# /TACC/tup-ui #}
    ></iframe>
    {% with disabled=instance.embed_link %}
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
    {% endwith %}
{% else %}
    {# render <source> or <track> plugins #}
    <video controls {{ instance.attributes_str }}
        {% if instance.poster %} poster="{{ instance.poster.url }}"{% endif %}>
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
        {% trans "Your browser doesn't support this video format." %}
    </video>
{% endif %}

{# TACC: responsive wrapper #}
{% block video_wrap_end %}
{% if instance.template != 'default' %}
</div>
{% endif %}
{% endblock video_wrap_end %}
{# /TACC #}

{% comment %}
    # Available variables:
    {{ instance.template }}
    {{ instance.label }}
    {{ instance.embed_link }}
    {{ instance.poster }}
    {{ instance.attributes_str }}
{% endcomment %}
