.system-section {
    display: grid;
}

.system-section > div > header {
    padding-top: var(--global-space--section-top);
    padding-left: var(--global-space--section-left);
}

.system-section > div > header button {
    margin-right: var(--global-space--section-right);
}

.system-section nav {
    margin-top: -15px;
}

.system-section > div > div {
    padding: var(--global-space--section);
}
