/* To use new c-nav component not yet in TACC/Core-CMS core-styles.base.css */
/* TODO: Remove when TACC/Core-CMS loads TACC/Core-Styles v2.13+ */
/* CAVEAT: Duplicates older, unchanged, global c-nav styles */
@import url("@tacc/core-styles/dist/components/c-nav.css");

/* To use s-affixed-input-wrapper which had been unused outside TACC/Core-CMS */
/* TODO: Remove when TACC/Core-CMS loads TACC/Core-Styles v2.14+ */
@import url("@tacc/core-styles/dist/trumps/s-affixed-input-wrapper.css");

/* To use new form styles in core-styles.base.css */
/* TODO: Remove when TACC/Core-CMS loads TACC/Core-Styles v2.15+ */
@import url("@tacc/core-styles/dist/elements/form.css");
@import url("@tacc/core-styles/dist/trumps/s-form.css");

/* To overwrite @tacc/core-styles CEPv2 spacing */
#page-portal main /* i.e. global-safe :root */ {
  /* TACC/Core-Styles/blob/823b7b9/src/lib/_imports/settings/space.css */
  --global-space--section-top: 15px;
  --global-space--section-bottom: 30px;
  --global-space--section-left: 20px;
  --global-space--section-right: 30px;
  /* NOTE: Unexpectedly required */
  /* HELP: Why isn't Core-Styles `--global-space--section` auto-updated? */
  --global-space--section:
    var(--global-space--section-top)
    var(--global-space--section-right)
    var(--global-space--section-bottom)
    var(--global-space--section-left);
}

/* To stretch application height to available space */
body {
  display: flex;
  flex-direction: column;
}
body > main {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}
.o-site {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}
.o-site > * {
  flex-grow: 1;
}

/* To give Portal its own scrollbar */
#cms-content {
  overflow: auto;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-block: 0; /* overwrite Bootstrap <h1> through <h6> */
}
h1 {
  font-size: var(--global-font-size--x-large);
  font-weight: var(--regular);
}
h2 {
  font-size: var(--global-font-size--large);
  font-weight: var(--bold);
}
h3 {
  font-size: var(--global-font-size--medium);
  font-weight: var(--bold);
}

/* Tables */
table {
  width: 100%;
}

/* Forms */
/* To hide icon of a Message that is used as a form error */
/* FAQ: Used by MfaValidationPanel, MfaSmsPanel */
.s-form input + [role="status"] > .icon {
  display: none;
}
