/* To use login form styles */
@import url('@tacc/core-styles/dist/components/c-form--login.css') layer(base);

/* To overwrite @tacc/core-styles CEPv2 spacing */
#page-portal main /* i.e. global-safe :root */ {
  /* TACC/Core-Styles/blob/823b7b9/src/lib/_imports/settings/space.css */
  --global-space--section-top: 15px;
  --global-space--section-bottom: 30px;
  --global-space--section-left: 20px;
  --global-space--section-right: 30px;
  /* NOTE: Unexpectedly required to apply the above var changes */
  /* HELP: Why isn't Core-Styles `--global-space--section` auto-updated? */
  --global-space--section:
    var(--global-space--section-top)
    var(--global-space--section-right)
    var(--global-space--section-bottom)
    var(--global-space--section-left);
}

/* To stretch application height to available space */
body {
  display: flex;
  flex-direction: column;
}
body > main {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}
.o-site {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}
.o-site > * {
  flex-grow: 1;
}

/* To give Portal its own scrollbar */
#cms-content {
  overflow: auto;
}

/* Headings */
/* FAQ: Put in base layer (like Core-Styles),
        so Core-Styles classes take precedence */
@layer base {
  h1, h2, h3, h4, h5, h6 {
    margin-block: 0; /* overwrite Bootstrap <h1> through <h6> */
  }
  h1 {
    font-size: var(--global-font-size--x-large);
    font-weight: var(--regular);
  }
  h2 {
    font-size: var(--global-font-size--large);
    font-weight: var(--bold);
  }
  h3 {
    font-size: var(--global-font-size--medium);
    font-weight: var(--bold);
  }
}

/* Tables */
table {
  width: 100%;
}

/* Forms */
/* To hide icon of a Message that is used as a form error */
/* FAQ: Used by MfaValidationPanel, MfaSmsPanel */
.s-form input + [role="status"] > .icon {
  display: none;
}
