<dl>
  <dt>Default</dt>
  <dd>
    <nav class="c-tag-list">
      {{#each tags}}
        <span class="c-tag">{{this}}</span>
      {{/each}}
    </nav>
  </dd>
  <dt>Link</dt>
  <dd>
    <nav class="c-tag-list">
      {{#each tags}}
        <a class="c-tag" href="#">{{this}}</a>
      {{/each}}
    </nav>
  </dd>
</dl>
