<dl>
  <dt>Default <small>(each list item is a tag)</small></dt>
  <dd>
    <ul class="c-tag-list">
      {{#each tags}}
        <li class="c-tag">{{this}}</li>
      {{/each}}
    </ul>
  </dd>
  <dt>Default <small>(each list item child is a tag)</small></dt>
  <dd>
    <ul class="c-tag-list">
      {{#each tags}}
        <li>
          <span class="c-tag">{{this}}</span>
        </li>
      {{/each}}
    </ul>
  </dd>
  <dt>Link</dt>
  <dd>
    <ul class="c-tag-list">
      {{#each tags}}
        <li>
          <a class="c-tag" href="#">{{this}}</a>
        </li>
      {{/each}}
    </ul>
  </dd>
</dl>

{{#> @misuse }}
  <dl>
    <dt>No Explicit Tag Elements</dt>
    <dd>
      <ul class="c-tag-list">
        {{#each tags}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </dd>
  </dl>
{{/ @misuse }}
