{# https://github.com/TACC/Core-CMS/blob/task/icon-support-cortal-svg/taccsite_cms/templates/djangocms_icon/default/icon.html #}
{% load cms_tags %}

{% if '-logo' in instance.icon %}
  {% include 'djangocms_icon/includes/svg.html' with path="site_cms/img/icons/logos.svg" path_is_static=true %}
{% elif 'svg-' in instance.icon %}
  {% include 'djangocms_icon/includes/svg.html' with path="site_cms/img/icons/decals.svg" path_is_static=true %}
{% else %}
  {% include 'djangocms_icon/includes/icon.html' %}
{% endif %}
