{% load cms_tags static %}

{# FAQ: SVG sprites do not set an iconClass (after which plugin adds space) #}
{% if ' ' in instance.icon %}

  {% include 'djangocms_icon/includes/icon.html' %}

{% else %}

  {# FAQ: The <span> allows Django CMS editor to edit via double-click #}
  <span class="has-svg {{ instance.icon }}{% if instance.attributes.class %} {{ instance.attributes.class }}{% endif %}" aria-hidden="true"{% for key, value in instance.attributes.items %}{% if key != 'class' %}{{ key }}="{{ value }}" {% endif %}{% endfor %}>
    <svg role="presentation">
      <use xlink:href="{% static 'tup-cms/img/sprites/decorations.svg' %}#{{ instance.icon }}"></use>
    </svg>
  </span>

{% endif %}
