{% load static %}

<style>
  @import url("{% static 'site_cms/css/build/core-styles.theme.default.css") layer (base);

  @import url("{% static 'site_cms/css/build/core-styles.portal.css' %}") layer(base);
  @import url("{% static 'site_cms/css/build/core-styles.header.css' %}") layer(base);
</style>

{% if is_login_view %}
<style>
/* So only login page has unique background */
/* FAQ: The ID is added by the CMS and makes these rules trump imports-….css */
#page-portal body {
  display: unset; /* undo tup-ui main.global.css `display: flex` */
  background-color: var(--global-color-primary--light);
}
</style>
{% endif %}
