{% load static %}

<style>
  @import url("{% static 'site_cms/css/build/core-styles.theme.default.css' %}") layer(base);

  @import url("{% static 'site_cms/css/build/core-styles.portal.css' %}") layer(base);
  @import url("{% static 'site_cms/css/build/core-styles.header.css' %}") layer(base);
</style>

{% if is_login_view %}
<style>
/* So only login page has unique background */
/* FAQ: The ID is added by the CMS and makes these rules trump imports-….css */
#page-portal body {
  display: unset; /* undo tup-ui main.global.css `display: flex` */
  background-color: var(--global-color-primary--light);
}

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/TACC/Core-CMS-Custom@v1.5/generic_assets/css/iframe.css">
<script type="module" src="https://cdn.jsdelivr.net/gh/TACC/Core-CMS-Custom@feat/iframe-postmessage-height/generic_assets/js/iframe-auto-height.js"></script>
{% endif %}
