{% extends "base.html" %}

{% block html_page_id %}portal{% endblock %}

{% block title %}User Portal{% endblock %}

{% block assets_core_project %}
{% include './assets.html' %}
{% endblock %}

{% block content %}
<div id="root" class="o-site"></div>
{% include "imports.html" %}
<script>
  window.__TUP_CONFIG__ = {
    baseUrl: '{{baseUrl}}',
  };
</script>

{% if login %}
<style>
  body {
  display: unset; /* undo tup-ui main.global.css `display: flex` */
  background-color: var(--global-color-primary--light);
}
</style>
{% endif %}

{% endblock %}
