{% extends "base.html" %}

{% block html_page_id %}portal{% endblock %}

{% block title %}User Portal{% endblock %}

{% block assets_core_project %}
{% include './assets.html' %}
{% endblock %}

{% block content %}
<div id="root" class="o-site"></div>
<script>
  window.__TUP_CONFIG__ = {
    baseUrl: '{{baseUrl}}',
  };
</script>
<script type="module">
  import RefreshRuntime from 'http://localhost:3000/static/@react-refresh';
  RefreshRuntime.injectIntoGlobalHook(window);
  window.$RefreshReg$ = () => {};
  window.$RefreshSig$ = () => (type) => type;
  window.__vite_plugin_react_preamble_installed__ = true;
</script>
<script type="module" src="http://localhost:3000/static/@vite/client"></script>
<script type="module" src="http://localhost:3000/static/src/main.tsx"></script>
{% endblock %}
