@import url('@tacc/core-styles/dist/settings/border.css');
@import url('@tacc/core-styles/dist/settings/space.css');
@import url('@tacc/core-styles/dist/settings/font.css');

@import url('@tacc/core-styles/dist/elements/bootstrap.css');
@import url('@tacc/core-styles/dist/elements/html-elements.cms.css');

@import url('@tacc/core-styles/src/lib/_imports/tools/media-queries.css');

.root {
  background-color: var(--global-color-primary--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.root a:not(:focus) {
  text-decoration-line: none;
}
.root a:hover:not(:focus) {
  text-decoration-line: underline;
}

.body,
.footer {
  width: 100%;
  max-width: 630px;
}

.body {
  padding: 50px;

  border: var(--global-border--normal);
  border-color: var(--global-color-primary--dark);
  background-color: var(--global-color-primary--xx-light);

  /* To remove left+right borders when form hits page edge */
  @media (width <= 630px) {
    border-inline: 0;
  }
}

.footer {
  display: flex;
  gap: 1.5em;
  margin-top: var(--global-space--normal);

  font-size: var(--global-font-size--x-small);
  font-weight: var(--bold);

  @media (--narrow-and-below) {
    justify-content: center;
  }
  @media (--narrow-and-above) {
    justify-content: flex-end;
  }
}
.footer a {
  color: var(--global-color-primary--x-dark);
}
