@import url('@tacc/core-styles/src/lib/_imports/tools/media-queries.css');

.root {
  padding-block: var(--global-space--section-gap);

  background-color: var(--global-color-primary--light);
}

.footer__link {
  font-weight: var(--bold);
}

.body,
.footer {
  width: 100%;
  max-width: 630px;

  margin-inline: auto;
}

.body {
  padding: 50px;

  border: var(--global-border--normal);
  border-color: var(--global-color-primary--dark);
  background-color: var(--global-color-primary--xx-light);

  /* To remove left+right borders when form hits page edge */
  @media (width <= 630px) {
    border-inline: 0;
  }
}

.footer {
  display: flex;
  gap: 1.5em;
  margin-top: var(--global-space--normal);

  font-size: var(--global-font-size--x-small); /* use standard nearest design */
  font-weight: var(--bold);

  @media (--narrow-and-below) {
    justify-content: center;
  }
  @media (--narrow-and-above) {
    justify-content: flex-end;
  }
}
.footer a {
  color: var(--global-color-primary--x-dark);
}
