{# @var list_selector #}

{# To support user changing layout of news list #}
{# FAQ: The form is hidden, because styles are not complete #}
{# FAQ: The script is active, so new styles can be tested as a user #}
<form id="layout-choice">
  <input type="radio" value="list" name="layout" id="layout-choice-list" checked>
  <label for="layout-choice-list">
    <i class="icon icon-burger">List</i>
  </label>
  <input type="radio" value="grid" name="layout" id="layout-choice-grid">
  <label for="layout-choice-grid">
    <i class="icon icon-applications">Grid</i>
  </label>
</form>
<script type="module">
  import switchLayout from '/static/site_cms/js/modules/switchLayout.js';

  const form = document.getElementById('layout-choice');
  const content = document.querySelector(
    '{{ list_selector|default:".blog-list" }}'
  );
  const formChoices = form.querySelectorAll('input[name="layout"]');

  switchLayout( content, formChoices );
</script>
