@import url('@tacc/core-styles/src/lib/_imports/tools/media-queries.css');

.panels {
  display: grid;

  /* To reproduce simple layout of narrow screens like CEPv2 */
  @media (--wide-and-below) {
    row-gap: 25px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "systems"
      "projects_tickets"
      "updates";
  }
  /* To reproduce complex layout of design doc */
  @media (--wide-and-above) {
    gap: 25px;
    /*set first row as auto to prevent cutting off the sysmon*/
    grid-template-rows: auto 1fr 1fr 1fr;
    overflow:auto;
    grid-template-areas:
      "projects_tickets systems"
      "projects_tickets updates"
      "projects_tickets updates"
      "projects_tickets updates";
  }
  /* To avoid System Status columns being cut off if at 0.65fr 0.35fr */
  @media (--wide-to-x-wide) {
    grid-template-columns: 0.5fr 0.5fr;
  }
  @media (--x-wide-and-above) {
    grid-template-columns: 0.65fr 0.35fr;
  }
}
.panels > * {
	overflow: auto; /* to force items to stay within their grid cells */
}
.panels > :nth-child(1) { grid-area: updates; }
.panels > :nth-child(2) { grid-area: systems; }
.panels > :nth-child(3) { grid-area: projects_tickets; }


.section {
  display: grid;
  padding: var(--global-space--section)
}


.project-ticket-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "projects"
    "tickets";

  @media (--wide-and-below) {
    row-gap: 25px;
    grid-template-rows: auto auto;
  }
}

.project-ticket-grid > * {
  overflow: auto;
}

.project-ticket-grid > :nth-child(1) { grid-area: projects; }
.project-ticket-grid > :nth-child(2) { grid-area: tickets; }
