<script id="blog-list-link-to-external-site" type="module">
// The `{{html}}` is whatever user entered into snippet "HTML:" field
const parameter = '{{html}}';

// Only certain articles should support this feature
const extTagName = parameter ? parameter : `external`;

// Only care about articles with the given tag
const articles = document.querySelectorAll(
  `.blog-list article.has-blog-tag-${extTagName}`
);
[ ...articles ].forEach( article => {
  // News admin states only one external link should be in article content
  const contentLink = article.querySelector('.blog-lead a[href^="http"]');
  const isExternalLink = ( contentLink.hostname !== window.location.hostname );

  if ( isExternalLink ) {
    const linkUrl = contentLink.href;
    const postLinks = article.querySelectorAll(':is(h3, footer) a');

    // All links to the post should open external URL in new window
    [ ...postLinks ].forEach( postLink => {
      console.info('Swap post link with "{linkUrl}"', postLink);

      postLink.href = linkUrl;
      postLink.setAttribute('target', '_blank');
    });
  }
});
</script>
