<script id="blog-article-link-to-external-site">
const articles = document.querySelectorAll('.blog-list article');
[ ...articles ].forEach( article => {
  const contentLinks = article.querySelectorAll('.blog-lead a[href^="http"]');
  [ ...contentLinks ].forEach( contentLink => {
    const isExternal = ( contentLink.hostname !== window.location.hostname );
    if ( isExternal ) {
      const externalUrl = contentLink.href;
      const postLink = article.querySelectorAll(':not(.blog-lead) a');

      console.info('Swap post links with "{externalUrl}"');
      postLink.href = externalUrl;
    }
  });
}
</script>
