<style id="css-elements-components-figure-blockquote-caption-embed">
/* CHANGES NOT IN CORE (BUT ARE IN TACC/TACC-Docs#1cc1599) */
/* IMPORTANT: Since TACC/TACC-Docs#1cc1599,
              .app-blog has been prepended to each selector */

/* To add space abvoe and below small text beneath these patterns */
.app-blog figure,
.app-blog blockquote,
.app-blog p.caption,
.app-blog .embed-responsive {
    --buffer-top: 10px;
    --buffer-bottom: 2rem; /* mimic core-styles.cms <p> margin-bottom: 2rem; */

    margin-bottom: var(--buffer-bottom);
}

/* To hide `.embed-…` margin-bottom */
.app-blog .embed-responsive + p.caption {
    margin-top: calc( var(--buffer-top) - var(--buffer-bottom) );
}
/* To remove extra whitespace beneath embeded content */
.app-blog .embed-responsive > * {
    display: block;
}

/* TODO: In Core, share styles (how?) */
.app-blog figcaption,
.app-blog p.caption,
.app-blog blockquote footer {
    color: var(--global-color-primary--dark);
    font-style: italic;
    line-height: 1.7;
    font-size: var(--global-font-size--small);
}
/* FAQ: Not for blockquote footer, because blockquote line-height is enough */
.app-blog figcaption,
.app-blog p.caption {
    margin-top: var(--buffer-top);
}

/* TODO: Use global variables */
/* TODO: Incorporate add `o-float-content--right` (requires Core-CMS repo) */
/* TODO: Hide "TACC Site" Blockquote plugin */
.app-blog blockquote {
    font-size: var(--global-font-size--large); /* HP wanted non-standard 20px */
    color: var(--global-color-accent--secondary);
    width: fit-content;
    line-height: 1.7;
}
</style>
<style id="css-components-figure">
/* IMPORTANT: Some changes here overwrite #css-elements-components-figure-blockquote-caption-embed (e.g. margin) */
.app-blog figcaption,
.app-blog p.caption {
  padding-bottom: 10px;
  border-bottom: var(--global-border-width--normal) solid var(--global-color-primary--normal);
  margin-bottom: 15px;
}
</style>
<style id="css-components-blockquote">
/* IMPORTANT: Some changes here overwrite #css-elements-components-figure-blockquote-caption-embed (e.g. color) */
.app-blog blockquote {
  color: var(--global-color-tertiary--normal);

  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 1em;
  border-left: 5px solid var(--global-color-tertiary--normal);
}
</style>
