<style id="css-footer--proposal-for-core">
/* To mimic Bootstrap _reboot img { vertical-align: middle } */
/* TODO: Evaluate for core-cms or core-styles CSS */
svg {
    vertical-align: middle;
}
</style>

<style id="css-footer--logos">
/* To color and align social media icons */
/* TODO: Evaluate for tup-ui or core-cms CSS */
.c-footer svg {
    fill: var(--global-color-primary--xx-light);
}

.c-footer [class*="logos--"] {
    text-align: center;
}
.c-footer [class*="logos--"] a {
    text-decoration: none;
}

.c-footer .logos--social {
    font-size: 0; /* to remove whitespace */
}
.c-footer .logos--social a {
    display: inline-block;
    padding: 1rem; /* rem, because any em value is 0 because font-size: 0 */
}
.c-footer .logos--social a:hover {
    background-color: var(--global-color-primary--x-dark);
}
.c-footer .logos--social svg {
    height: 2.5rem; /* rem, so it scales like text */
}
</style>

<style id="css-footer--hide-show-content">
/* To add a full-width border above CMS footer */
/* TODO: Evaluate for tup-ui or core-cms CSS */
html:not(#page-portal) .c-footer {
    border-width: var(--global-border-width--thick) 0 0 0;
    border-style: solid;
    border-color: var(--global-color-secondary--light);
}

/* To hide/show CMS/Portal footer */
/* TODO: Move to tup-ui CSS */
html#page-portal #cms-footer, /* new id */
html:not(#page-portal) #portal-footer /* trans id */ {
    display: none;
}

/* To reduce size of Portal footer */
/* TODO: Move to tup-ui CSS */
html#page-portal .c-footer {
    padding: 0 15px;
}
html#page-portal .c-footer p {
    margin-bottom: revert; /* undo Bootstrap */
}
</style>
