<style id="css-scrolling-fixes">
/* To prevent horz. body scroll because of header nav too wide (192px—1066px) */
/* HELP: Fix the bug, instead of just hiding the bug */
/* FAQ: 290px is our body min. width; narrower than that, user must scroll */
/* SEE: /use-tacc/stem-evaluation-services/ */
/* SEE: /partnerships/star-industry-program/ */
/* SEE: / (i.e. home page) */
header {
    overflow-x: clip;
}

/* To prevent horz. body scroll because of offset SVG Icons */
/* HELP: Fix the bug, instead of just hiding the bug */
/* FAQ: 290px is our body min. width; narrower than that, user must scroll */
/* SEE: /use-tacc/stem-evaluation-services/ */
/* SEE: /partnerships/star-industry-program/ */
/* SEE: / (i.e. home page) */
@media (width >= 290px) {
    main {
        overflow-x: clip;
    }
}

/* Prevent trackpad scroll to show white background beyond page height */
/* TODO: Ask Designer if "scroll away into forever" bug has come back */
body {
    overscroll-behavior-y: none;
}
</style>
