<link rel="stylesheet" href="/static/tup-cms/css/for-core-styles/settings/font--cms.css" />
<link rel="stylesheet" href="/static/tup-cms/css/for-core-styles/components/c-tag.css" />
<link rel="stylesheet" href="/static/tup-cms/css/for-core-styles/trumps/u-highlight.css" />
<style id="css-banner">
/* Banner */
/* TODO: Create a .c-banner */

/* Banner Row */

/* To add (and collapse) white border around each cell */
.banner-row {
  --border-width: var(--global-border-width--x-thick);

  margin: var(--border-width);
  column-gap: var(--border-width);
}
.banner-row.row {
  display: revert; /* undo Bootstrap */
}
.banner-row > .col {
  max-width: unset; /* undo Bootstrap */
}



/* Banner Cell */

[class*="banner-cell--"] {
  --tag-padding: 0.5rem; /* manually copied from ".tag" styles */
}

/* Elements */

[class*="banner-cell--"] :is(h1, h2, h3, h4) {
  margin-bottom: 0;
}

[class*="banner-cell--"] > a {
  display: block;

  text-decoration: none;
}

[class*="banner-cell--"] figure {
  margin-bottom: unset; /* undo Botstrap */
}
[class*="banner-cell--"] figcaption {
  padding: 0 3.0rem 5.0rem;
}

/* Components */

[class*="banner-cell--"] .tag {
  display: block;
  margin-bottom: 2.0rem;

  color: #ffffff;
  background: #000000;
}

[class*="banner-cell--"] .highlight {
	padding-inline: var(--tag-padding);

	color: var(--global-color-primary--xx-light);
  background-color: var(--global-color-primary--xxx-dark);

	line-height: 1;
}
[class*="banner-cell--"] a:is(:hover, :active) .highlight {
	color: var(--global-color-primary--light);
}



/* Banner Cell (Major) */

.banner-cell--major h2 {
	font-size: var(--global-font-size--xxx-large);
  font-weight: var(--bold);

	text-transform: uppercase;
}

.banner-cell--major figure { position: relative }
.banner-cell--major figcaption {
	position: absolute;
  bottom: 0;
  left: 0;

	width: 50%;
}



/* Banner Cell (Minor) */

.banner-cell--minor h2 {
  color: var(--global-color-primary--xxx-dark);
  font-weight: revert;
}

.banner-cell--minor figcaption {
  /* To move text above image before it */
  position: relative;
  margin-top: calc( -1 * (
    /* To move by half the height of the .tag */
    /* FAQ: Not using `translateY(-50%)` because the h2 must move same amount */
    var(--tag-padding) + var(--global-font-size--small)/2
  ));
}
</style>
