<!--
<style id="css-tup-730-drop-cap-and-fix-has-blog-tag-no-drop-cap">
@supports (-webkit-initial-letter: 3) {
    .has-blog-tag-no-drop-cap .s-drop-cap > p:first-of-type:first-letter {
        -webkit-initial-letter: unset;
    }
}
@supports (initial-letter: 3) {
    .has-blog-tag-no-drop-cap .s-drop-cap > p:first-of-type:first-letter {
        initial-letter: unset;
    }
}
</style>
<style id="css-tup-730-drop-cap-and-fix-has-blog-tag-no-drop-cap--2024-09-23-after-tup-730">
@supports (-webkit-initial-letter: 3) {
  .has-blog-tag-no-drop-cap .s-drop-cap > p:first-of-type:first-letter {
    -webkit-initial-letter: unset;
  }
}
</style>
-->
