<style id="css-footer--proposal-for-core">
/* To mimic Bootstrap _reboot img { vertical-align: middle } */
svg {
    vertical-align: middle;
}
</style>

<style id="css-footer--logos">
/* To set baseline styles for footer logos */
/* TODO: Evaluate for tup-ui or core-cms CSS */
.c-footer svg {
    fill: var(--global-color-primary--xx-light);
}
.c-footer [class*="logos--"] {
    display: grid;
    gap: var(--gap, 0);
    grid-auto-flow: column;
    justify-content: center;
}
.c-footer .logos--branding {
    --gap: 2rem;
    grid-template-columns: minmax(0,1fr) auto minmax(0,1fr);
    min-height: 60px;
}

.c-footer [class*="logos--"] a {
    display: inline-flex;
    align-items: center;
    justify-content: center; /* horz align when image narrower than grid cell */
}

/* For independent logo sizes */
.c-footer .logos__tacc svg {
  height: 55%;

  /* To vertically align center as if small text was not present */
  transform: translateY(5%);
}
.c-footer .logos__nsf svg {
  height: 100%;
}
.c-footer .logos__ut svg {
  height: 66.67%;

  /* To vertically align center as if small text was not present */
  transform: translateY(5%);
}

/* To create fake border between logos */
.c-footer [class*="logos--"] a { position: relative }
.c-footer .logos--branding a:not(:first-child)::before {
  height: 75%;

  position: absolute;
  left: calc( -1 * var(--gap)/2 );

  content: '';
  display: block;
  background-color: var(--global-color-primary--xx-light);
  background-clip: content-box;
  width: var(--global-border-width--normal);
  box-sizing: content-box;

  cursor: default;
}

/* To skin social media logo links */
/* WARNING: Developer styles */
.c-footer .logos--social a {
    display: inline-block;
    padding: 1rem; /* rem, because any em value is 0 because font-size: 0 */
}
.c-footer .logos--social a:hover {
    background-color: var(--global-color-primary--x-dark);
}
.c-footer .logos--social svg {
    height: 2.5rem; /* rem, so it scales like text */
}
</style>

<style id="css-footer--hide-show-content">
/* To add a full-width border above CMS footer */
/* TODO: Evaluate for tup-ui or core-cms CSS */
html:not(#page-portal) .c-footer {
    border-width: var(--global-border-width--thick) 0 0 0;
    border-style: solid;
    border-color: var(--global-color-secondary--light);
}

/* To hide/show CMS/Portal footer */
/* TODO: Move to tup-ui CSS */
html#page-portal #cms-footer, /* new id */
html:not(#page-portal) #portal-footer /* trans id */ {
    display: none;
}

/* To reduce size of Portal footer */
/* TODO: Move to tup-ui CSS */
html#page-portal .c-footer {
    padding: 0 15px;
}
html#page-portal .c-footer p {
    margin-bottom: revert; /* undo Bootstrap */
}
</style>
