{% comment %}
Many <link>s is faster than one <link> with many '@import's.
{% endcomment %}

<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/fix-news-hr-behind-offset-image.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/hide-svg-icons.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/trumps-has-decal.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/spacing-fixes.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/podcast-embeds.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/scrolling-fixes.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/global-a11y.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/tup-730-drop-cap-and-fix-has-blog-tag-no-drop-cap.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/c-feed-list-tweaks.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/navbar-width-horz-scrollbar.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/TACC/tup-ui@460405e9/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/ad-hoc/tagged-news-uppercase-tag.css" rel="stylesheet" />
