<style id="css-objects-colorize--for-css-components-banner--to-be-independent">
/* To remove color from image */
[class*="banner-cell--hue"] figure img {
    mix-blend-mode: luminosity;
}

/* To colorize image */
.banner-cell--hue-neutral figure { background: var(--global-color-primary--light) }
.banner-cell--hue-accent1 figure { background: var(--global-color-accent--light) }
.banner-cell--hue-accent2 figure { background: var(--global-color-secondary--light) }
.banner-cell--hue-accent3 figure { background: var(--global-color-tertiary--light) }
</style>
<style id="css-objects-colorize--for-css-components-banner--not-independent">
/* To ensure caption is atop image filter (mix-blend-mode) */
[class*="banner-cell--hue"] figcaption {
    position: relative;
}

/* Prevent figure background color from showing under image */
[class*="banner-cell--hue"] figure {
    height: 100%;
}
.banner-cell--minor[class*="banner-cell--hue"] figcaption::before {
    content: '';
    display: block;
    background-color: var(--global-color-background--app);

    position: absolute; bottom: 0; left: 0; right: 0;
    top: var(--offset);
}
.banner-cell--minor[class*="banner-cell--hue"] figcaption > * {
    position: relative;
}
</style>
