<link id="css-components-tags--core" rel="stylesheet" href="/static/tup-cms/css/for-core-styles/components/c-tag.css" />
<style id="css-components-tags--tacc">
.c-tag,
[class*="tag--"] {
  display: block;
  margin-bottom: 2.0rem;

  color: var(--global-color-primary--xx-light);
}
[class*="tag--press_release"] {
  background: #723B0C;
}
[class*="tag--qa"] {
  background: var(--global-color-accent--light);
}
[class*="tag--media"] {
  background: var(--global-color-primary--dark);
}
[class*="tag--system"] {
  background: var(--global-color-tertiary--normal);
}
[class*="tag--featured"] {
  background: var(--global-color-accent--normal);
}
[class*="tag--external"] {
  background: var(--global-color-secondary--normal);
}
</style>
