<link rel="stylesheet" href="/static/tup-cms/css/for-core-styles/settings/font--cms.css" />
<link rel="stylesheet" href="/static/tup-cms/css/for-core-styles/trumps/u-highlight.css" />
<style id="css-banner">
/*
Banner

A list of article previews. Content __must__ use the tags defined by the example markup.

Markup: css-banner--sample-markup.html

Styleguide Components.Banner
*/
/* TODO: (1) Evaluate how best to organize styles. (2) Create a .c-banner */



/* Banner Row */

/* To add (and collapse) white border around each cell */
.banner-row {
  --border-width: var(--global-border-width--x-thick);

  margin: var(--border-width);
  column-gap: var(--border-width);
}
.banner-row.row {
  display: revert; /* undo Bootstrap */
}
.banner-row > .col {
  max-width: unset; /* undo Bootstrap */
}

@media (width < 576px) {
  .banner-row[style*="column-count"] {
    column-count: 1 !important /* to overwrite inline style */;
  }
}
@media (width >= 576px) {
  /* To ensure 1 column has only 1 banner cell (not 1.N nor 2 banner cells) */
  .banner-row[style*="column-count"] [class*="banner-cell--"] {
    break-before: column;
  }
}



/* Banner Cell */

[class*="banner-cell--"] {
  --tag-padding: 0.5rem; /* manually copied from .c-tag styles */
}

/* Elements */

[class*="banner-cell--"] :is(h1, h2, h3, h4) {
  margin-bottom: 0;
}

[class*="banner-cell--"] a:is(:hover, :active)::before /* "Image & Link" Layout */,
[class*="banner-cell--"] a:is(:hover, :active):only-child /* "Figure" Layout */ {
	outline-width: var(--global-border-width--thick);
  outline-style: solid;
  outline-color: var(--global-color-primary--xxx-dark);
	outline-offset: calc( -1 * var(--global-border-width--thick) );
}

[class*="banner-cell--"] figure /* "Figure" Layout */ {
  margin-bottom: unset; /* undo Bootstrap */
}

[class*="banner-cell--"] > img + a /* "Image & Link" Layout */,
[class*="banner-cell--"] figcaption /* "Figure" Layout */ {
  display: block;
  margin-inline: 3.0rem;
  margin-bottom: 3.0rem;
}

/* To remove standard link text docoration */
[class*="banner-cell--"] > img + a /* "Image & Link" Layout */,
[class*="banner-cell--"] > a:only-child /* "Figure" Layout */ {
  text-decoration: none;
}

/* To cover image with link */
/* FAQ: "Figure" layout does not need this because it is wrapped in a link */
[class*="banner-cell--"] { position: relative; }
[class*="banner-cell--"] > img + a::before /* "Image & Link" Layout */ {
  content: '';
  position: absolute; /* CAVEAT: Requires `position: relative` on an ancestor */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* To cover a re-sized image box with the full-size image (like a bkgd image) */
/* FAQ: If user sets dimension via style, we assume they want this feature */
/* "Image & Link" Layout */
[class*="banner-cell--"] > img:where([style*="height"], [style*="width"]),
/* "Figure" Layout */
[class*="banner-cell--"] figure:where([style*="height"], [style*="width"]) img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Components */

[class*="banner-cell--"] .c-tag,
[class*="banner-cell--"] [class*="tag--"] {
  display: block;
  margin-bottom: 2.0rem;
}

[class*="banner-cell--"] .highlight {
	padding-inline: var(--tag-padding);

	color: var(--global-color-primary--xx-light);
  background-color: var(--global-color-primary--xxx-dark);

	line-height: 1;
}

/* To allow image to be underneath text */
/* FAQ: To just set `position: relative` on `img + a` is easier,
        but then `a::before` position would not cover image */
[class*="banner-cell--"] /* "Image & Link" Layout */,
[class*="banner-cell--"] figure /* "Figure" Layout */ {
  display: grid;

  /* "Figure" Layout */
  /* To force % image height to match its container (i.e. <figure>) */
  /* https://stackoverflow.com/a/52137966/11817077 */
  grid-template-rows: minmax( 0, 1fr );
}



/* Banner Cell (Major) */

.banner-cell--major h2 {
	font-size: var(--global-font-size--xxx-large);
  font-weight: var(--bold);

	text-transform: uppercase;
}

/* To move text atop image */
.banner-cell--major > :is(img, img + a) /* "Image & Link" Layout */,
.banner-cell--major :is(figure > img, img + figcaption) /* "Figure" Layout */ {
  grid-row: 1;
  grid-column: 1;
}
.banner-cell--major > img + a /* "Image & Link" Layout */,
.banner-cell--major figcaption /* "Figure" Layout */ {
  align-self: end; /* to align text to bottom */
  margin-bottom: 5.0rem; /* to move text away from bottom */
}



/* Banner Cell (Minor) */

.banner-cell--minor h2 {
  color: var(--global-color-primary--xxx-dark); /* undo core-styles.cms */
  font-weight: revert;
}

/* To move text atop image */
.banner-cell--minor > img + a /* "Image & Link" Layout */,
.banner-cell--minor figcaption /* "Figure" Layout */ {
  margin-top: calc( -1 * (
    /* To move by half the height of the .c-tag */
    /* FAQ: Not using `translateY(-50%)` because the h2 must move same amount */
    var(--tag-padding) + ( var(--global-font-size--small) / 2 )
  ));
}
</style>
<style id="css-banner--conflicts-with-snippet-77">
/* TODO: Determine hwo to avoid this or where to add this */
[class*="banner-cell--"] figcaption {
    font-style: normal;
    line-height: inherit;
}
</style>
