<details id="involvement">
<summary>Can parents/guardians get involved in the camp?</summary>
<p>Parents are encouraged to attend final presentations, on the last day of the program.</p>
</details>

<details id="costs">
<summary>What is the cost of camp?</summary>
<p>There is no cost.</p>
</details>

<details id="contact">
<summary>How can I contact the UT Austin Code@TACC Team?</summary>
<p>Please email our office at <a href="mailto:outreach@tacc.utexas.edu" target="_blank">outreach@tacc.utexas.edu</a> or call English: <a hreflang="en-US">512-553-2502</a>, Espa&ntilde;ol: <a hreflang="es">512-730-1131</a>.</p>
</details>

<details id="supervision">
<summary>Who will be supervising my child during the camp?</summary>
<p>Students will be supervised by college counselors. Counselors have been background-checked (also checked through the national sex offender registry) and have received child protection training.</p>
</details>

<details id="safety-precautions">
<summary>What safety precautions are taken in the residence halls?</summary>
<p>University housing requires card access to enter each building. Also, exits are alarmed and connected to University PD. Also, at least two counselors are assigned to sleep in each residential building.</p>
</details>

<details id="exit">
<summary>Can I leave the program early?</summary>
<p>Participants are expected to continue until the end of the program.</p>
</details>

<details id="camp-visitors">
<summary>Can my child have visitors during Code@TACC?</summary>
<p>Participants will be unable to have visitors. Adults with access to our campers require background checks (also checked through the national sex offender registry) and training on protecting children from abuse. Also, adults (including counselors) are never allowed to be alone with a camper.</p>
</details>
</section>

<section id="onsite-health-faq">
<h3>Health</h3>

<details id="allergies">
<summary>What if my child has food allergies or special dietary needs?</summary>
<p>Please let us know of any dietary restrictions so that food options will be offered to fit your student&#39;s dietary needs.</p>
</details>

<details id="medical">
<summary>What if my child needs to see a doctor?</summary>
<p>We have an on-campus health service for minor treatment (512-471-4955), Monday through Friday 8am &ndash; 5pm. For emergency treatment, students will be transported to St. David&#39;s Medical Center (919 E 32nd St 78705).</p>
</details>
