<div class="panel-group" id="reference-camp-faq">
<p><strong>Dates &amp; Ages</strong></p>

<div class="panel panel-default">
<div class="panel-heading" id="dates">
<p class="panel-title"><a class="collapsed" data-parent="#robotics-camp-faq" data-toggle="collapse" href="#dates-answer">What are the dates of camp?</a></p>
</div>

<div class="panel-collapse collapse" id="dates-answer">
<p class="panel-body">Sunday, June 25, 2023 through Saturday, July 1, 2023.</p>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" id="ages">
<p class="panel-title"><a class="collapsed" data-parent="#robotics-camp-faq" data-toggle="collapse" href="#ages-answer">What are the ages of the Code@TACC participants?</a></p>
</div>

<div class="panel-collapse collapse" id="ages-answer">
<p class="panel-body">During the summer program, participants are rising sophomores and juniors in high school.</p>
</div>
</div>
</div>

<p><strong>General</strong></p>
