<div class="panel-group" id="shared-common-faq">
<div class="panel panel-default">
<div class="panel-heading" id="involvement">
<p class="panel-title"><a class="collapsed" data-parent="#shared-common-faq" data-toggle="collapse" href="#involvement-answer">Can parents/guardians get involved in the camp? </a></p>
</div>

<div class="panel-collapse collapse" id="involvement-answer">
<p class="panel-body">Parents are encouraged to attend final presentations, on the last day of the program.</p>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" id="costs">
<p class="panel-title"><a class="collapsed" data-parent="#shared-common-faq" data-toggle="collapse" href="#costs-answer">What is the cost of camp? </a></p>
</div>

<div class="panel-collapse collapse" id="costs-answer">
<p class="panel-body">There is no cost.</p>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" id="contact">
<p class="panel-title"><a class="collapsed" data-parent="#shared-common-faq" data-toggle="collapse" href="#contact-answer">How can I contact the UT Austin Code@TACC Team? </a></p>
</div>

<div class="panel-collapse collapse" id="contact-answer">
<p class="panel-body">Please email our office at <a href="mailto:outreach@tacc.utexas.edu" target="_blank">outreach@tacc.utexas.edu</a> or call English: <a hreflang="en-US">512-553-2502</a>, Espa&ntilde;ol: <a hreflang="es">512-730-1131</a>.</p>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" id="supervision">
<p class="panel-title"><a class="collapsed" data-parent="#shared-common-faq" data-toggle="collapse" href="#supervision-answer">Who will be supervising my child during the camp? </a></p>
</div>

<div class="panel-collapse collapse" id="supervision-answer">
<p class="panel-body">Students will be supervised by college counselors. Counselors have been background-checked (also checked through the national sex offender registry) and have received child protection training.</p>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" id="safety-precautions">
<p class="panel-title"><a class="collapsed" data-parent="#shared-common-faq" data-toggle="collapse" href="#safety">What safety precautions are taken in the residence halls?</a></p>
</div>

<div class="panel-collapse collapse" id="safety">
<p class="panel-body">University housing requires card access to enter each building. Also, exits are alarmed and connected to University PD. Also, at least two counselors are assigned to sleep in each residential building.</p>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" id="exit">
<p class="panel-title"><a class="collapsed" data-parent="#shared-common-faq" data-toggle="collapse" href="#exit-answer">Can I leave the program early? </a></p>
</div>

<div class="panel-collapse collapse" id="exit-answer">
<p class="panel-body">Participants are expected to continue until the end of the program.</p>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" id="camp-visitors">
<p class="panel-title"><a class="collapsed" data-parent="#shared-common-faq" data-toggle="collapse" href="#visitors">Can my child have visitors during Code@TACC?</a></p>
</div>

<div class="panel-collapse collapse" id="visitors">
<p class="panel-body">Participants will be unable to have visitors. Adults with access to our campers require background checks (also checked through the national sex offender registry) and training on protecting children from abuse. Also, adults (including counselors) are never allowed to be alone with a camper.</p>
</div>
</div>
</div>

<div class="panel-group" id="onsite-health-faq">
<p><strong>Health</strong></p>

<div class="panel panel-default">
<div class="panel-heading" id="allergies">
<p class="panel-title"><a class="collapsed" data-parent="#onsite-health-faq" data-toggle="collapse" href="#allergies-answer">What if my child has food allergies or special dietary needs?</a></p>
</div>

<div class="panel-collapse collapse" id="allergies-answer">
<p class="panel-body">Please let us know of any dietary restrictions so that food options will be offered to fit your student&#39;s dietary needs.</p>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" id="medical">
<p class="panel-title"><a class="collapsed" data-parent="#onsite-health-faq" data-toggle="collapse" href="#medical-answer">What if my child needs to see a doctor?</a></p>
</div>

<div class="panel-collapse collapse" id="medical-answer">
<p class="panel-body">We have an on-campus health service for minor treatment (512-471-4955), Monday through Friday 8am &ndash; 5pm. For emergency treatment, students will be transported to St. David&#39;s Medical Center (919 E 32nd St 78705).</p>
</div>
</div>
</div>
