<p class="logos--branding">
    <a href="https://www.tacc.utexas.edu/" class="logos__tacc">
        <svg viewbox="0 0 283.44 111">
            <use href="/static/site_cms/img/org_logos/tacc-formal.svg#tacc-formal" />
        </svg>
    </a>
    <a href="https://www.nsf.gov/" target="_blank" class="logos__nsf">
        <svg viewbox="0 0 576 576">
            <use href="/static/site_cms/img/org_logos/nsf-logo.svg#nsf-logo" />
        </svg>
    </a>
    <a href="https://www.utexas.edu/" target="_blank" class="logos__ut">
        <svg viewbox="0 0 244.96 68.55">
            <use href="/static/site_cms/img/org_logos/ut-primary.svg#ut-primary" />
        </svg>
    </a>
</p>
