<p class="logos--social">
  <a href="https://www.facebook.com/tacc.utexas" target="_blank">
    <svg viewbox="0 0 25 25">
      <use href="/static/site_cms/img/org_logos/facebook.svg#facebook-icon"></use>
    </svg>
  </a>
  <a href="https://twitter.com/TACC" target="_blank">
    <svg viewbox="0 0 25 25">
      <use href="/static/site_cms/img/org_logos/twitter.svg#twitter-icon"></use>
    </svg>
  </a>
  <a href="https://www.youtube.com/user/TACCutexas" target="_blank">
    <svg viewbox="0 0 25 25">
      <use href="/static/site_cms/img/org_logos/youtube.svg#youtube-icon"></use>
    </svg>
  </a>
  <a href="http://www.linkedin.com/company/texas-advanced-computing-center-tacc" target="_blank">
    <svg viewbox="0 0 25 25">
      <use href="/static/site_cms/img/org_logos/linkedin.svg#linkedin-icon"></use>
    </svg>
  </a>
<p>
