<p class="logos--branding">
    <a href="https://www.tacc.utexas.edu/">
        <svg viewbox="0 0 244.59 54" style="width: 32%;">
            <use href="/static/site_cms/img/org_logos/tacc-primary.svg#tacc-primary" />
        </svg>
    </a>
    <a href="https://www.nsf.gov/" target="_blank">
        <img src="/static/site_cms/img/org_logos/nsf-white.png" style="width: 24%;" />
    </a>
    <a href="https://www.utexas.edu/" target="_blank">
        <img src="/static/site_cms/img/org_logos/utaustin-white.png" style="width: 36%;" />
    </a>
</p>
