{# Shortcut to implement RT #42216 before a new Core-CMS version #}
{# https://tickets.tacc.utexas.edu/Ticket/Display.html?id=42216 #}
{# https://github.com/TACC/Core-CMS/pull/1178 #}

{# @tacc/html-filter-sort: now on npm as of 0.1.0 release #}
<link
  rel="stylesheet"
  id="research-projects-assets-table-css"
  href="https://cdn.jsdelivr.net/npm/@tacc/html-filter-sort@0/src/filtersort.css"
/>
<script
  src="https://cdn.jsdelivr.net/npm/list.js@2.3.1/dist/list.min.js"
  integrity="sha384-FhEOA/pIE4BfDuwGksHaZD8ms5j+dfB9QIWo7naDMzAVoCE1My4G2iu8/n/R3AAH"
  crossorigin="anonymous"
></script>
<script
  type="module"
  id="research-projects-assets-table-js"
>
  import filtersort from 'https://cdn.jsdelivr.net/npm/@tacc/html-filter-sort@0/src/filtersort.js';

  filtersort({
    scopeElement: document.getElementById('cms-content'),
    buttonClass: 'btn btn-link',
    searchIconClass: 'icon icon-search icon-md',
    countClass: 'text-truncate',
  });
</script>
