/*
  Content Sectioning Elements
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Content_sectioning
*/

h1, h2, h4, h5, h6 { font-weight: normal; }
h3 { font-weight: bold; }

/* To mimic Bootstrap rem so as to mimic CEPv2 */
h1, h2, h3, h4, h5, h6 { --cepv2-rem: 16px; }
h1 { font-size: calc( 2.5 * var(--cepv2-rem) ); }
h2 { font-size: 18px; /* to mimic CEPv2 ui-patterns */ }
h3 { font-size: 15px; /* to mimic CEPv2 ui-patterns */ }
h4 { font-size: calc( 1.5 * var(--cepv2-rem) ); }
h5 { font-size: calc( 1.25 * var(--cepv2-rem) ); }
h6 { font-size: calc( 1 * var(--cepv2-rem) ); }





/*
  Inline Text Semantics
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Inline_text_semantics
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* To overwrite Bootstrap `_code.scss` */
code {
  color: unset;
}
kbd {
  padding: unset;
  color: unset;
  background-color: unset;
  border-radius: unset;
}
