@import url('@tacc/core-styles/dist/settings/color.css');



/*
  Content Sectioning Elements
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Content_sectioning
*/

h1,
h2,
h4,
h5,
h6 {
  font-weight: normal;
}

h2 {
  font-size: 1.125rem; /* 18px (if base is 16px) */
}
h3 {
  font-size: 0.9375rem; /* 15px (if base is 16px) */
  font-weight: bold;
}





/*
  Inline Text Semantics
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Inline_text_semantics
*/

/* Use :link and :visited */
a:link,
a:hover /* overwrite Bootstrap */ {
  color: var(--global-color-accent--normal);
}
a:visited {
  color: var(--global-color-accent--x-dark);
}
a:active {
  text-decoration-line: underline overline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* To overwrite Bootstrap `_code.scss` */
code {
  color: unset;
}
kbd {
  padding: unset;
  color: unset;
  background-color: unset;
  border-radius: unset;
}
