html {
  /* To set base font but support user-defined browser font size */
  /* https://snook.ca/archives/html_and_css/font-size-with-rem */
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
