/* Media & Content - Alignment */
/* TODO: Share relevant styles with c-news and c-feed-list */



/* ... */



/* Media & Content - Alignment */

/* To remove margin on narrow screens */
/* ... */
@media (max-width: 767px) {
  /*
  :--article-page .blog-content .align-center,
  :--article-page .blog-content .align-right,
  :--article-page .blog-content .align-left {
  */
  article.post-detail .blog-content .align-center,
  article.post-detail .blog-content .align-left,
  article.post-detail .blog-content .align-right {
    max-width: 100%;
  }

  /* ... */
}





/* Gallery */

.app-blog .lightgallery {
  --min-width: 230px;
}
@supports selector(:has(*)) {
  .app-blog .lightgallery a:has(figcaption) {
    align-items: start;
  }
}
