/* TODO: Share styles between c-news and c-feed-list (`time:not(…)`) */
.blog-list article time:not(:is(h1, h2, h3, h4, h5, h6) *) {
  color: var(--global-color-accent--secondary);
  font-weight: var(--medium);
  text-transform: uppercase;
}
