{% load i18n %}

<ul class="c-news__data c-news__attr">{% spaceless %}
    {% if article.author %}
    <li class="c-news__byline">
        <span>{% trans "by" %}</span>&nbsp;
        <address>{{ article.author }}</address>
    </li>
    {% endif %}
    {% if article.postDateTime %}
    <li class="c-news__date">
        <span>{% trans "Published" %}</span>&nbsp;
        <time datetime="{{ article.postDateTime }}">{{ article.postDate }}</time>
        {% if article.updates %}
        <span class="c-pill c-pill--is-updated">Update</span>
        {% endif %}
    </li>
    {% endif %}
{% endspaceless %}</ul>
<ul class="c-news__data c-news__cats">{% spaceless %}
    {% comment %}
    <li class="c-tag c-tag--system">System</li>
    {% endcomment %}
{% endspaceless %}</ul>
<ul class="c-news__data c-news__tags">{% spaceless %}
    {% comment %}
    {% if article.updates %}
    <li class="c-pill c-pill--is-updated">Update</li>
    {% endif %}
    {% endcomment %}
{% endspaceless %}</ul>
