{% if article %}

  <article class="{% if article.updates %}has-update{% endif %}">
  {% spaceless %}
    <time
      data-prefix="Published:"
      aria-label="Published {{ article.postDate }}"
      datetime="{{ article.postDateTime }}"
    >
      {{ article.postDate }}

      {% if article.updates %}
        <span class="c-pill c-pill--is-updated">
          Updated
        </span>
      {% endif %}
    </time>
    <h4>
      <a href="/{{ urls.base }}{{ urls.item_prefix }}{{ article.id }}">
        {{ article.title }}
      </a>
    </h4>
    {% if article.subttitle %}
    <h5>{{ article.subttitle }}</h5>
    {% endif %}
    {% if has_markup_content %}
    <div class="has-markup">{{ article.content|safe }}</div>
    {% else %}
    <p>{{ article.content }}</p>
    {% endif %}
  {% endspaceless %}
  </article>

{% else %}

  <article>
    <p>No such update found.</p>
  </article>

{% endif %}
