{% if article %}

  {% with article.Updates.AnnouncementUpdate as updates %}
  <article class="{% if updates %}has-update{% endif %}">
    <time data-prefix="Posted: ">{{ article.PostedDate }}</time>
    <h4>
      <a href="/{{ urls.base }}{{ urls.item_prefix }}{{ article.ID }}">
        {{ article.WebTitle }}
      </a>
    </h4>
    {% if article.SubTitle %}
    <h5>
      {{ article.SubTitle }}
    </h5>
    {% endif %}
    <p>{{ article.Content }}</p>
  </article>
  {% endwith %}

{% else %}

  <article>
    <p>No such update found.</p>
  </article>

{% endif %}
