{# @var title_tag, subtitle_tag #}
{% load i18n %}

{% if article %}

<article class="{% if article.updates %} has-update{% endif %}">
    <header class="c-news__header">
        <{{ title_tag|default:"h3" }} class="c-news__title">
            <a href="/{{ urls.base }}{{ urls.item_prefix }}{{ article.id }}">
                {{ article.title }}
            </a>
        </{{ title_tag|default:"h3" }}>
        {% if article.subtitle %}
        <{{ subtitle_tag|default:"h4" }} class="c-news__subtitle">
            {{ article.subtitle }}
        </{{ subtitle_tag|default:"h4" }}>
        {% endif %}
        {% include './item_data.html' %}
    </header>
    {% if has_markup_content %}
    <div class="c-news__abstract has-markup">{{ article.content|safe }}</div>
    {% else %}
    <div class="c-news__abstract"><p>{{ article.content }}</p></div>
    {% endif %}
</article>

{% else %}

<article class="c-news">
    <p>{% trans "No such update found." %}</p>
</article>

{% endif %}
