{% if article %}
  <article class="{% if article.updates %}has-update{% endif %}">
    <h1>{{ article.title }}</h1>
    {% if article.subtitle %}
    <h2>{{ article.subtitle }}</h2>
    {% endif %}

    <time data-prefix="Published:" datetime="{{ article.postDateTime }}">
      {{ article.postDate }}
    </time>
    <address data-prefix="by">
      {{ article.author }}
    </address>

    {% if article.updates %}
      {% include './updates.html' with updates=article.updates %}

    <h2>Original Update</h2>

    {% endif %}

    {% if has_markup_content %}
    <div class="has-markup">{{ article.content|safe }}</div>
    {% else %}
    <p>{{ article.content }}</p>
    {% endif %}
  </article>

{% else %}

  <article>
    <p>No such update found. <a href="/{{ urls.base }}">See all updates</a>.</p>
  </article>

{% endif %}
