{% if article %}
  <h1>
  {% if article.WebTitle %}
    {{ article.WebTitle }}
  {% else %}
    No Such Update Found
  {% endif %}
  </h1>
  {% if article.SubTitle %}
  <h2>
    {{ article.SubTitle }}
  </h2>
  {% endif %}

  {% with article.Updates.AnnouncementUpdate as updates %}
  <article class="{% if updates %}has-update{% endif %}">
    <time data-prefix="Posted by {{article.Author}} on">{{ article.PostedDate }}</time>
    {% if updates %}
      {% include './updates.html' with updates=updates only %}

    <h2>Original Update</h2>

    {% endif %}
    <div>{{ article.Content }}</div>
  </article>
  {% endwith %}

{% else %}

  <article>
    <p>No such update found. <a href="/{{ urls.base }}">See all updates</a>.</p>
  </article>

{% endif %}
