{% load i18n %}

{% for update in updates %}
  <aside class="c-update">
    <header class="c-update__header">
      <h3 class="c-update__title">
        <span class="c-pill c-pill--is-updated">Update</span>&nbsp;
      </h3>
      <span>{% trans "Published" %}</span>&nbsp;
      <time datetime="{{ update.postDateTime }}">
        {{ update.postDate }}
      </time>
    </header>
    {% if has_markup_content %}
    <div class="has-markup">{{ update.content|safe }}</div>
    {% else %}
    <div><p>{{ update.content }}</p></div>
    {% endif %}
  </aside>
  <hr />
{% endfor %}
