/* Highlight */
/* TODO: Create an .x-highlight used to extend a <mark> and a .u-highlight */

mark,
.x-highlight,
:is(.u-highlight, .highlight) {
  /* So wrapped inline text has consistent padding */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
:is(h1, h2, h3, h4):is(.u-highlight, .highlight) {
	display: inline;
}
