/* To styles pages (i.e. apps/tup-ui/src/pages) without a React component */
/* https://github.com/TACC/tup-ui/blob/1cf5b33/libs/core-components/src/lib/SectionHeader/SectionHeader.module.css */

.c-page > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end; /* preserve alignment of items when wrapped */

  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: var(--global-border-width--normal) solid var(--global-color-primary--dark);
}
.c-page > header > :not(h1) {
  max-height: 100%; /* (gently) force oversized elements to fit */
}
.c-page > header > h1 ~ a {
  font-weight: var(--bold);
}
