/* CORE */

/* Settings: Font (CMS) */

:root {
  --global-font-size--xxx-large: 3.2rem;
}



/* Mark & Highlight */

:is(.highlight, mark) {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
:is(h1, h2, h3, h4).highlight {
	display: inline;
}



/* Tag */

.tag {
  /* Client must set display (inline-)block|flex|grid|etc. */
  /* FAQ: We should not assume the display of an element client controls */
  /* display: inline-block; */

  line-height: 1; /* so padding-block can be consistent */
  padding: 0.5rem;
  width: min-content;

  font-size: var(--global-font-size--small);
  font-weight: var(--bold);
  text-transform: uppercase;
  white-space: nowrap;
}





/* TACC */

/* Banner */

[class*="banner--"] {
  --tag-padding: 0.5rem; /* manually copied from Core-Styles .tag */
}

[class*="banner--"] :is(h1, h2, h3, h4) {
  margin-bottom: 0;
}

[class*="banner--"] > a {
  display: block;

  text-decoration: none;
}

[class*="banner--"] .tag {
  display: block;
  margin-bottom: 2.0rem;

  color: #ffffff;
  background: #000000;
}

[class*="banner--"] .highlight {
	padding-inline: var(--tag-padding);

	color: var(--global-color-primary--xx-light);
  background-color: var(--global-color-primary--xxx-dark);

	line-height: 1;
}
[class*="banner--"] a:is(:hover, :active) .highlight {
	color: var(--global-color-primary--light);
}

[class*="banner--"] figure {
  margin-bottom: unset; /* undo Botstrap */
}
[class*="banner--"] figcaption {
  padding: 0 3.0rem 5.0rem;
}

/* Banner (Large) */

.banner--large h2 {
	font-size: var(--global-font-size--xxx-large);
  font-weight: var(--bold);

	text-transform: uppercase;
}

.banner--large figure { position: relative }
.banner--large figcaption {
	position: absolute;
  bottom: 0;
  left: 0;

	width: 50%;
}

/* Banner (Small) */

.banner--small h2 {
  color: var(--global-color-primary--xxx-dark);
  font-weight: revert;
}

.banner--small figcaption {
  /* To move text above image before it */
  position: relative;
  margin-top: calc( -1 * (
    /* To move by half the height of the .tag */
    /* FAQ: Not using `translateY(-50%)` because the h2 must move same amount */
    var(--tag-padding) + var(--global-font-size--small)/2
  ));
}
