/* CORE */

/* Settings: Font (CMS) */

:root {
  --global-font-size--xxx-large: 3.2rem;
}



/* Mark & Highlight */

:is(.highlight, mark) {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
:is(h1, h2, h3, h4).highlight {
	display: inline;
}



/* Tag */

.tag {
  /* Client must set display (inline-)block|flex|grid|etc. */
  /* FAQ: We should not assume the display of an element client controls */
  /* display: inline-block; */

  line-height: 1; /* so padding-block can be consistent */
  padding: 0.5rem;
  width: min-content;

  font-size: var(--global-font-size--small);
  font-weight: var(--bold);
  text-transform: uppercase;
  white-space: nowrap;
}





/* TACC */



/* Banner Row */

.banner-row {
  margin: 3px;
  column-gap: 3px;
}
.banner-row.row {
  display: revert;
}
.banner-row > .col {
  max-width: unset;
}



/* Banner Cell */

/* Settings */

[class*="banner-cell--"] {
  --tag-padding: 0.5rem; /* manually copied from Core-Styles .tag */
}

/* Container */

/* To add white border around */
/* HELP: Do not let borders double up next to each other */
[class*="banner-cell--"] {
  --border-width: var(--global-border-width--x-thick);
  --neg-border-width: calc( -1 * var(--border-width) );

  /*
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--global-color-primary--xx-light);
  */
}

/* Elements */

[class*="banner-cell--"] :is(h1, h2, h3, h4) {
  margin-bottom: 0;
}

[class*="banner-cell--"] > a {
  display: block;

  text-decoration: none;
}

[class*="banner-cell--"] figure {
  margin-bottom: unset; /* undo Botstrap */
}
[class*="banner-cell--"] figcaption {
  padding: 0 3.0rem 5.0rem;
}

/* Components */

[class*="banner-cell--"] .tag {
  display: block;
  margin-bottom: 2.0rem;

  color: #ffffff;
  background: #000000;
}

[class*="banner-cell--"] .highlight {
	padding-inline: var(--tag-padding);

	color: var(--global-color-primary--xx-light);
  background-color: var(--global-color-primary--xxx-dark);

	line-height: 1;
}
[class*="banner-cell--"] a:is(:hover, :active) .highlight {
	color: var(--global-color-primary--light);
}

/* Banner (Large) */

.banner-cell--major h2 {
	font-size: var(--global-font-size--xxx-large);
  font-weight: var(--bold);

	text-transform: uppercase;
}

.banner-cell--major figure { position: relative }
.banner-cell--major figcaption {
	position: absolute;
  bottom: 0;
  left: 0;

	width: 50%;
}

/* Banner (Small) */

.banner-cell--minor h2 {
  color: var(--global-color-primary--xxx-dark);
  font-weight: revert;
}

.banner-cell--minor figcaption {
  /* To move text above image before it */
  position: relative;
  margin-top: calc( -1 * (
    /* To move by half the height of the .tag */
    /* FAQ: Not using `translateY(-50%)` because the h2 must move same amount */
    var(--tag-padding) + var(--global-font-size--small)/2
  ));
}
